@font-face {
  font-family: 'roboto_light';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/roboto-light.woff') format('woff');
}

@font-face {
  font-family: 'roboto_medium';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/roboto-medium.woff') format('woff');
}
