@font-face {
  font-family: 'roboto_light';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'roboto_medium';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Roboto-Medium.ttf');
}
