:root {
  --cor-preto: #0E0E0E;
  --cor-preto1: #252525;

  --cor-verde: #50D3A4;

  --cor-azul: #4E7CE9;

  --cor-amarelo: #FFE57C;

  --cor-vermelho: #D35152;

  --cor-rosa: #F97AF0;

  --radius-padrao: 50px;
}
